body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
}

.contentHome {
    display: flex;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 15px;
    justify-content: center;
    width: 40%;
    max-height: 100vh;

    & button {
        margin-top: 10px;
    }
}

.content {
    display: flex;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 15px;
    justify-content: center;
    max-height: 100vh;

    & button {
        margin-top: 10px;
    }
}

.section {
    box-sizing: border-box;
    max-height: 100vh;
    overflow-y: scroll;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
}

.formGroup {
    margin: 10px;
}

.center {
    display: flex;
    align-items: center;
}

.field {
    margin-top: 5px;

    & label,
    input {
        display: block;
    }
}

.errors {
    display: block;
    color: red;
    font-weight: bold;
}

.entry{
    padding: 0 3px 0 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(.newEntry):hover{
        border: solid 1px grey;
        border-radius: 5px;
    }

    & form{
        display: inline;
    }

    & .options{
        visibility: hidden;
    }

    &:hover p{
        cursor: pointer;
    }

    &:hover .options{
        visibility: visible;
    }
}

.storeOrUpdateForm{
    width:100%;
    flex-direction:column;
}

.storeForm, .editForm, .storeOrUpdateForm, .showNote{
    display: none;
}

.options{
    white-space: nowrap;
}

.messages, .errors{
    display: inline-block;
}

.nowrap{
    white-space: nowrap;
}

.sidebar{
    min-width: 350px;
}

.w-break{
    word-break: break-all;
    padding: 0 3px 0 3px;
}

.full{
    width: 100%;
}

input {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

h3 {
    margin-top: 0;
}